extends ./layouts/common


block content
	h1 Quản lý gia sư 

	
	.btn-group-vertical
		p
		a(href="/classes/create")
			button.btn.btn-outline-info   Quản lý các lớp 
 

		p
		a(href="/signup/phuhuynh")
			button.btn.btn-outline-info  Quản lý phụ huynh đăng ký 

		p
		a(href="/signup/tutor")
			button.btn.btn-outline-info  Quản lý gia sư đăng ký