extends ./layouts/common


block content
  h1.h2.mb-3 Cách thức nhận lớp
  p Bạn có thể nhận lớp qua 2 cách sau:
  h5.mt-4 1) Nhận lớp tại trung tâm
  p
    | Bạn có thể đến trung tâm để nhận lớp (8h-18h, Thứ 2 - Thứ 7). Bạn cần mang theo chứng minh thư và thẻ sinh viên (Nếu là sinh viên).
  p
    | Địa chỉ: Tầng 3, Số 20 Lê Thanh Nghị, Hai Bà Trưng, Hà Nội 
    
  h5.mt-4 2) Nhận lớp online
  p
    | Bạn chuyển khoản tiền đặt cọc (nếu nhận online thì phải đặt cọc 100%), sau đó trung tâm gửi hợp đồng gia sư đến email của bạn. Trong hợp đồng sẽ có đầy đủ thông tin của phụ huynh, học viên và các điều khoản hoàn phí.
  p Sau 30 ngày, số tiền đặt cọc sẽ được chuyển thành phí nhận lớp.
  p
    | Để nhận lớp online, bạn cần nhắn tin đến 
    a(target='_blank', href='https://m.me/giasuquangdat', rel='nofollow') Fanpage Gia sư Quang Đạt 
    |  để được hướng dẫn chi tiết.
  ul.list-square.mt-4
    li
      | Xem 
      a(href='/chinh-sach-hoan-phi') Chính sách hoàn phí.
    li
      | Xem 
      a(href='/chinh-sach-hoc-thu') Chính sách học thử.
    
  a.btn.btn-primary.font-weight-bold.mt-4(href='/danh-sach-lop-moi') Xem danh sách lớp mới 