extends ./layouts/common


block content

  h1.h2.mb-4 Chính sách học thử
  p
    | Phụ huynh/học viên được quyền kiểm tra trình độ của gia sư qua 2 buổi học đầu tiên, sau 2 buổi này:
  ul.list-square
    li
      | Nếu phụ huynh/học viên không đồng ý nhận gia sư, phụ huynh không phải thanh toán học phí;
    li
      | Nếu phụ huynh/học viên đồng ý và tiếp tục học, phụ huynh/học viên sẽ vẫn thanh toán học phí của cả 2 buổi này cho gia sư.
  p.mt-4
    b Lưu ý:
    |  Chỉ phụ huynh/học viên mới có quyền học thử, gia sư sẽ không có quyền dạy thử. Nếu sau khi làm hợp đồng mà gia sư tự ý bỏ lớp, gia sư sẽ bị phạt 100% giá trị hợp đồng.  
  p
    | Trong trường hợp phụ huynh/học viên không đồng ý nhận gia sư và hủy lớp, gia sư sẽ được hoàn phí hoặc đổi lớp mới theo 
    a(href='/chinh-sach-hoan-phi') chính sách hoàn phí 
    |  của trung tâm.
  a.btn.btn-primary.font-weight-bold.mt-4(href='/danh-sach-lop-moi') Xem danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
