extends ./layouts/common


block content
	h1 Dịch vụ gia sư uy tín số 1 tại Hà Nội
		 
	p(style='text-align: left;padding-left:5px;', align='center')
		img.wp-image-504.alignright.lazy-loaded(alt='Gia Sư Hà Nội', src='/image/gia-su-ha-noi.jpg', width='300', height='260', style='margin-left: 2em; float: right')
	p(style='text-align: left;padding-left:5px;font-family: Arial;font-size: 15px;text-align:justify;', align='center')
		strong(style='font-size: 15px;color:#F3721C') Kính chào các bậc phụ huynh học sinh !!!
	p(style='padding-left:5px;font-family: Arial;font-size: 15px;text-align:justify;') Là bậc cha mẹ, chắc hẳn anh chị luôn mong muốn con mình là trò giỏi, con ngoan để có tương lai tốt đẹp.
	p(style='padding-left:5px;font-family: Arial;font-size: 15px;text-align:justify;') Nhưng có bao giờ anh chị gặp phải những vấn đề đau đầu sau?
	p(style='font-size: 15px; background-color: #ffffff;font-family: Arial;text-align: justify;')
		span(style='color: #008000;') &diams;
		span(style='font-size: 15px; color: #0000ff;')
			em(style='font-size: 15px;')
				em(style='padding-left:5px;font-size: 15px;') Dù biết con mình có tố chất thông minh nhưng lười học.
					b .
	p(style='font-size: 15px; background-color: #ffffff; font-family: Arial;text-align: justify;')
		span(style='color: #008000;') &diams;
		span(style='font-size: 15px; color: #0000ff;')
			em(style='font-size: 15px;')
				em(style='padding-left:5px;font-size: 15px;') Con mình không chịu học hành và không thoát ra nổi những trò game vô bổ, hay mạng xã  hội?
		span(style='color: #0000ff;')
			em
	p(style='font-size: 15px; background-color: #ffffff; font-family: Arial;text-align: justify;')
		span(style='color: #008000;') &diams;
		span(style='font-size: 15px; color: #0000ff;')
			em(style='font-size: 15px;')
				em(style='padding-left:5px;font-size: 15px;') Liên tục nhận được những lời than phiền từ thầy cô: “ Cháu hay mất tập trung khi nghe giảng, cháu dạo này học hành yếu lắm, gia đình cố gắng dạy bảo thêm, sức học của em yếu hẳn so với mọi năm ..."
	p(style='color: #ff6600;text-align:justify;')
		b Đội ngũ gia sư của Gia Sư Quang Đạt bao gồm:
	p(style='color: #0000ff;text-align:justify;')
		strong &#x25BA; Gia sư là Giáo viên, Giảng viên:
	p(style='text-align:justify;') - Hiện tại chúng tôi có cộng tác với  hơn 100 giáo viên đang giảng dạy tại các trường từ Tiểu học đến THPT trên địa bàn Hà Nội với kinh nghiệm giảng dạy lâu năm. Ngoài ra còn đội ngũ giảng viên giỏi tư vấn về chuyên môn cho thầy cô và  tâm lý học lứa tuổi miễn phí giúp phụ huynh.
	
	p(style='color: #0000ff;text-align:justify;')
		strong &#x25BA; Gia sư là Sinh viên:
	p(style='text-align:justify;') - Lựa chọn từ đội ngũ sinh viên từ các trường ĐH hàng đầu tại Hà Nội, không chỉ có học lực thuộc hàng tốt nhất cả nước, mà còn có kỹ năng truyền đạt rất tốt (đã được tuyển chọn rất kỹ từ vòng phỏng vấn ).