extends ./layouts/common


block content

  .row.mt-4
    .col-lg-10.offset-lg-1
      h1.h3.mb-4 Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
      .row
        .col-lg-4.col-md-6
          h5 Vietcombank Bách Khoa 
          p.mb-2 S&#x1ED1; t&agrave;i kho&#x1EA3;n: 1008 0000 00001
          p T&ecirc;n t&agrave;i kho&#x1EA3;n: Đinh Quang Đạt 
        .col-lg-4.col-md-6
          h5 BIDV Bách Khoa 
          p.mb-2 S&#x1ED1; t&agrave;i kho&#x1EA3;n: 1251 0000 901263
          p T&ecirc;n t&agrave;i kho&#x1EA3;n: Đinh Quang Đạt
        .col-lg-4.col-md-6
          h5 Agribank Bách Khoa 
          p.mb-2 S&#x1ED1; t&agrave;i kho&#x1EA3;n: 3100 2052 05900
          p T&ecirc;n t&agrave;i kho&#x1EA3;n: Đinh Quang Đạt 
      p.mt-4.mb-0 Lưu ý: Bạn nên chụp ảnh màn hình hoặc giữ lại biên lai sau khi chuyển khoản.
