extends ../layouts/common


block content
  .row.justify-content-center
    .col-md-10.col-lg-6
      .card.my-card.px-md-5.pb-3
        .card-body
          h2.my-headline.mb-4 Thay &dstrok;&#x1ED5;i m&#x1EAD;t kh&#x1EA9;u
          form(method='POST', action='/myaccount/password')
            input(type='hidden', name='_token', value='Yrne0pXk2vq6CQN0KmYuGcM3NJfx6B5warWtrLuc')
            .form-group
              label(for='current_password') Nh&#x1EAD;p m&#x1EAD;t kh&#x1EA9;u c&utilde;
              input#current_password.form-control(type='password', name='current_password', required='')
            .form-group
              label(for='new_password') M&#x1EAD;t kh&#x1EA9;u m&#x1EDB;i
              input#new_password.form-control(type='password', name='new_password', required='')
            .form-group
              label(for='new_password_confirmation') X&aacute;c nh&#x1EAD;n m&#x1EAD;t kh&#x1EA9;u m&#x1EDB;i
              input#new_password_confirmation.form-control(type='password', name='new_password_confirmation', required='')
            .form-group.mb-0
              button.mt-2.btn.btn-primary.font-weight-bold(type='submit')
                | Thay &dstrok;&#x1ED5;i
          if errors
            each error in errors
              li
                small(style='color:red')= error

